
.update-cont {
  /* border: 2px solid #000; */
  width:100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.updt-form {
  width:500px;
  margin:auto
}